.header {
    display: flex;
    justify-content: space-between;
    padding: 2em 5em;
    background-color: var(--rosa-claro);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.header__menu {
    display: flex;
    gap: 2em;
}

.header__menu-item {
    text-decoration: none;
    color: var(--cinza);
}

.header__actions {
    display: flex;
    gap: 2em;
    align-items: center;
}

.header__actions-ancor {
    background-color: var(--vinho);
    color: var(--branco);
    text-decoration: none;
    padding: 1em 1.5em;
    border-radius: 6px;

}